.button {
    background-color: rgba(143, 116, 219, .7);
    border: none;
    color: black;
    padding: 25px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255, 237, 107, .9);
    color: rgb(1, 150, 155);
}
