.openimage {
  display: block;
  margin: auto;
  width: 75%;
  height: 75%;
}

.welcome {
  font-size: 52px;
}

.foreground {
  background-color: rgba(0, 153, 170, .4);
  padding: 10px;
}

.button {
    background-color: rgba(143, 116, 219, .7);
    border: none;
    color: black;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255, 237, 107, .9);
    color: rgb(1, 150, 155);
}

.pink:hover {
    color: rgb(127, 56, 236);
}

#rcorners {
    border-radius: 25px;
    border: 2px solid rgb(0, 255, 229);
    padding: 5px;
}

#default {
  background-color: #99f3ff;
}

#blue {
  background-image: URL("https://s-media-cache-ak0.pinimg.com/originals/37/ee/1b/37ee1b0b8a80a8a7028e1586cee9ff5c.jpg");
  background-repeat: no-repeat;
}

#buttontext {
  font-family: 'Play', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}
