.openimage {
  display: block;
  margin: auto;
  width: 75%;
  height: 75%;
}

.welcome {
  font-size: xx-large;
}

#rcorners {
    border-radius: 25px;
    border: 2px solid rgb(0, 246, 255);
    padding: 5px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}
