.openimage {
  display: block;
  margin: auto;
  width: 75%;
  height: 75%;
}

.welcome {
  font-size: xx-large;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  background-color: rgb(188, 251, 255);
}

* {
  background-color: #bcfbff;
}
